
a {
    text-decoration: none;
}

h1 {
    color: #fffee1;
    text-align: center;
    font-weight: 700;
    padding: 2em 0em 0em 0em;
}

body {
    background-color: #131313;
    color: #9ab58f;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 2em;
    margin: auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 1em 0em 1em 0em;
}

.nav li {
    list-style: none;
    padding: .5em;
    margin: .5em 2em;
    border-bottom: .2em;
}

.nav li a {
    color: #e08032;
}


#intro-text {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    margin: 3em 0em;
}

#content {
    background-color: #121e15;
    padding: 3em 0em 3em 0em;
}

.tree-line {
    width: 100%;
    margin-bottom: -4.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about-me {
    background-color: #223927;
    padding: 0em 3em 3em 3em;
    border-radius: 3em;
}

#my-work {
    background-color: #131313;
    padding: 0em 3em 3em 3em;
    border-radius: 0em;
}

#contact-me {
    background-color: #223927;
    padding: 0em 3em 3em 3em;
    border-radius: 3em;
}

.howdy {
    font-family: 'Akaya Kanadaka', cursive;
    color: #fffee1;
    font-size: 2.5em;
}

.em {
    color: #e08032;
}

.logo {
    margin: auto;
    width: 200px;
}

.photo {
    float: left;
    width: 250px;
    margin: 0em 2em;
    border-color: #131313;
    border-style: solid;
    border-width: 1em;
}

.work-col {
	display: block;
	float:left;
    width: 50%;
    text-align: center;
}


.project-container {
    display: flex;
    flex-wrap: wrap;
}

/* Ensures the project name is not affected by project-preview opacity. */
.project-name {
    font-size: 1.5em;
    font-weight: 700;
    position: absolute;
    margin: 5em 1em 0em 1em;
    padding: .5em;
    background-color:  #223927;
    z-index: 1;
}

/* Changes opacity of image so that it appears faded. */
.project-preview {
    margin: .5em 0em 0em 0em;
    border: 1em;
    border-style: solid;
    border-color: #223927;
    opacity: .5;
}

/* Changes opacity of image when . */
.project-preview:hover {
    opacity: 1;
    transition-duration: 1s;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact li {
    margin: auto;
    list-style: none;
}
.contact li a {
    color: var(--primary);
}

@media (max-width: 1024px) {
    header h1 {
        padding: .5em 0em;
        text-align: center;
        width: 100%;
    }
    .nav {
        width:100%;
    }
    .nav li {
        width:100%;
        text-align: center;
    }
    .hero {
        display: none;
    }   
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .section-header {
        width: 100%;
        text-align: center;
        padding-bottom: .1em;
        border-bottom: .1em;
        border-bottom-style: solid;
    }
    .section-content {
        width: 100%;
        border: none;
    }
    .about-photo {
        width: 100%;
        margin-bottom: 2em;
        border: none;
    }
    .project-name {
        font-size: 1em;
        margin: 1.5em auto;
    }

    .project-preview {
        width: 100%;
        margin: .5em auto;
        border: none;
    }
    .project:first-of-type img {
        width:100%;
    }