/* Declaring some global variables. */
:root {
    --primary: #253628;
    --secondary: #172119;
    --tertiary: #fffee1;
    --text: #fffee1;
    --links: #dea847;
}
ul {
    padding: 0;
}
h1 {
    color: var(--text);
    font-family: 'Stoke', serif;
    font-size: 4em;
    font-weight:400;
    text-align: center;
    padding: 1em 0em;
    margin: 0;
}
h2 {
    color: var(--links);
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    margin: 2em 0em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
h3 {
    font-weight:700;
    font-size: 2em;
    margin: 1.5em 0em;
}
p {
    font-size: x-large;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5em;
}
b {
    color: var(--links);
}
body {
    background-color: #131313;
    color: var(--text);
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    background-image: url("/portfolio/images/moon.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header {
    height: 30vh;
}
.container {
    max-width: 80%;
}
#logo {
    height: 100px;
    padding: 1em 5em;
    float: left;
    display: none;
}
#about-me {
    background-color: var(--primary);
}
#about-me, #my-work, #contact-me {
    text-align: justify;
    padding: 0em 0em 5em 0em;
    margin: 0;
    }
#my-work {
    background-color: var(--secondary);
    width: 100%;
    padding: 2em;
}
footer {
    background-color: #131313;
}
#badges {
    text-align: center;
    color: var(--secondary);
    margin: 2em 0em;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #131313;
    z-index: 1000;
    transition: .3s all;
  }
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.nav a {
    color: var(--tertiary);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 10px 0px;
    position: relative;
}
.nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--tertiary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav a:hover:after { 
    width: 100%; 
    left: 0; 
}
.nav li {
    list-style: none;
    font-size: 2em;
    margin: 1em 2em;
}
.nav li a {
    color: var(--links);
}
.intro-text {
    font-size: 2.5em;
    font-weight: 300;
}
.styled-text {
    color: var(--links);
    font-family: 'Stoke', serif;
    font-size: 6em;
}
.tree-line {
    width: 100%;
    display: block;
    position: relative;
}
.photo {
    padding: 1.5em 1em 4em 1em;
    background-color: var(--tertiary);
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #131313;
    padding-bottom: 7em;
    border-radius: 7em;
}
.web-desc {
    background-color: var(--primary);
}
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5em;
}
.contact li {
    list-style: none;
    color: var(--links);
    font-size: 2em;
    margin: auto;
}
.contact li a {
    color: var(--tertiary);
}
.btn{
	background-color:var(--links);
	border-radius:5px;
	color: #131313;
	padding: 1em 2em;
    margin: 1em;
    font-weight: 700;
    text-decoration: none;
    font-size: larger;
}
.btn:hover {
	background-color:var(--text);
}
.web-thumb {
    max-height: 450px;
}
/* Animated symbol settings. */
.floaters{
    overflow: hidden;
    color: var(--tertiary);
}
.floaters li{
    position: absolute;
    top: 100vh;
    list-style: none;
    animation: animate 25s linear infinite;
    z-index: -900;
}
.floaters li:nth-child(1){
    left: 25%;
    animation-delay: 0s;
}
.floaters li:nth-child(2){
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}
.floaters li:nth-child(3){
    left: 70%;
    animation-delay: 4s;
}
.floaters li:nth-child(4){
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}
.floaters li:nth-child(5){
    left: 65%;
    animation-delay: 0s;
}
.floaters li:nth-child(6){
    left: 75%;
    animation-delay: 3s;
}
.floaters li:nth-child(7){
    left: 35%;
    animation-delay: 7s;
}
.floaters li:nth-child(8){
    left: 50%;
    animation-delay: 15s;
    animation-duration: 45s;
}
.floaters li:nth-child(9){
    left: 20%;
    animation-delay: 2s;
    animation-duration: 35s;
}
.floaters li:nth-child(10){
    left: 85%;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: .2;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}
/* Styles for the gallery */
.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}
.tz-gallery img {
    border-radius: 2px;
    max-width: 100%;
    max-height: 100%;
    border-color: var(--primary);
    border-width: 1em;
    border-style: solid;
}
.tz-gallery .caption{
    background-color: var(--primary);
    padding: 1em;
    text-align: center;
    height:450px;
    max-height:500px;
}
.tz-gallery .caption h3 {
    color: var(--links);
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;
}
.tz-gallery .caption p {
    font-size: large;
    margin: 0;
    padding-top: 1em;
}
.baguetteBox-button {
        background-color: transparent !important;
}
/* Mobile-friendly layout changes */
@media (max-width: 1024px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    header {
        height: auto;
    }
    .container {
        width: 95%;
    }
    .photo {
    margin: auto;
    max-width: 90%;
    }
     .contact {
        margin: 0;
     }
    .floaters {
        display: none;
    }
    .styled-text {
        font-size: 4em;
    }
    .nav {
        justify-content: center;
        padding: 0;
        margin-bottom: 2em;
    }
    .nav li {
        margin: .5em 1em;
    }
    .contact {
        justify-content: center;
        padding: 0;
        margin-bottom: 0em;
    }
    .contact li {
    margin: .4em;
    }
}

