/* Declaring some global variables. */
:root {
    --primary: #223927;
    --secondary: #121e15;
    --tertiary: #fffee1;
    --text: #fffee1;
    --links: #dea847;
}
ul {
    padding: 0;
}
h1 {
    color: var(--tertiary);
    font-size: 3em;
    text-align: center;
    font-weight: 300;
    padding: 2em 0em .5em 0em;
    margin: 0;
}
h1::before {
    content: ".";
    color:var(--links);
    font-size:1.5em;
    font-weight: 900;
  }
h2 {
    color: var(--tertiary);
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}
p {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 2em;
}
b {
    color: var(--links);
}
body {
    background-color: #131313;
    color: var(--text);
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    background-image: url("./portfolio/images/moon.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}
header {
    height: 50vh;
}
#logo {
    height: 80px;
    padding: 1em 5em;
    float: left;
    display: none;
}
#content {
    padding: 0em 5em 5em 5em;
    background-color: var(--primary);
}
#about-me {
    text-align: justify;
}
#contact-me {
background-color: #131313;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #131313;
    z-index: 1000;
    transition: 1s all;
  }
#badges {
    text-align: center;
    color: #32553a;
  }
#badges .fab {
    padding: .2em 1em;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.nav a {
    color: var(--tertiary);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 10px 0px;
    position: relative;
}
.nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
  .nav a:hover:after { 
    width: 100%; 
    left: 0; 
}
.nav li {
    list-style: none;
    font-size: 2em;
    margin: .5em 2em;
    border-bottom: .2em;
}
.nav li a {
    color: var(--links);
}
.intro-text {
    font-size: 2.5em;
    font-weight: 300;
}
.styled-text {
    color: var(--links);
    /* font-family: 'Sedgwick Ave', cursive; */
    font-size: 6em;
}
.tree-line {
    width: 100%;
    display: block;
    position: relative;
}
.photo {
    float: left;
    padding: 1em 1em 3em 1em;
    width: 260px;
    margin: 0em 4em 1em 0em;
    background-color: var(--tertiary);
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #131313;
    padding-bottom: 7em;
    border-radius: 7em;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5em;
}
.contact li {
    list-style: none;
    color: var(--links);
    font-size: 2em;
    margin: auto;
}
.contact li a {
    color: var(--links);
}
.myButton {
	background-color:var(--links);
	border-radius:5px;
	display:inline-block;
	color:var(--tertiary);
	padding:1em 2em;
	text-decoration:none;
    margin: .5em;
}
.myButton:hover {
	background-color:var(--text);
}

/* Animated symbol settings. */
.floaters{
    overflow: hidden;
    color: var(--tertiary);
}
.floaters li{
    position: absolute;
    top: 100vh;
    list-style: none;
    animation: animate 25s linear infinite;
    z-index: -900;
}
.floaters li:nth-child(1){
    left: 25%;
    animation-delay: 0s;
}
.floaters li:nth-child(2){
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}
.floaters li:nth-child(3){
    left: 70%;
    animation-delay: 4s;
}
.floaters li:nth-child(4){
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}
.floaters li:nth-child(5){
    left: 65%;
    animation-delay: 0s;
}
.floaters li:nth-child(6){
    left: 75%;
    animation-delay: 3s;
}
.floaters li:nth-child(7){
    left: 35%;
    animation-delay: 7s;
}
.floaters li:nth-child(8){
    left: 50%;
    animation-delay: 15s;
    animation-duration: 45s;
}
.floaters li:nth-child(9){
    left: 20%;
    animation-delay: 2s;
    animation-duration: 35s;
}
.floaters li:nth-child(10){
    left: 85%;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: .2;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}
/* "My Work" gallery settings */
.row img {
    width: 100%;
}
/* Applies grayscale overlay to images. */
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  /* Removes grayscale overlay on hover. */
  .grayscale:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
.web-gallery {
    background-color: var(--secondary);
    position: relative;
    overflow: hidden;
    padding: 0px 0 40px;
}
.web-gallery ul {
    text-align: center;
}
.web-gallery ul li {
    list-style: none;
    max-width: 22%;
    margin: 1em 1em;
    display: inline-block;
}
.port {
    position: absolute;
    width: -webkit-fill-available;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 103;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
     -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #131313;
}
.port img {
    width: 30%;
    float: left;
    margin-right: 3em;
}
.port .description {
    max-height: -webkit-fill-available;
    padding: 3em;
    text-align: center;
}
.port > * {
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.port.item_open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.port > * {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.close {
    width: 50px;
    height: 30px;
    background: url(./portfolio/images/times-light.png) no-repeat;
    position: absolute;
    right: -100px;
    top: -100px;
    z-index: 1004;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.item_open .close {
    top: 2em;
    right: 3em;
}

#art-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.art-gallery {
    padding-top: 40px;
    @media screen and (min-width: 991px) {
      padding: 60px 30px 0 30px;
    }
  }
  .img-wrapper {
    position: relative;
    float: left;
    margin: 1em 2em;
  }
  .img-wrapper img {
    width: 400px;
    height: 400px;
  }
  .img-overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }
  #overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#overlay img {
    margin-top: 1em;
    max-width: 100%;
    max-height: 90vh;
}
  }
#nextButton {
    margin: 1em;
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
  }
#prevButton {
    margin: 1em;
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
  }
  #exitButton {
    color: #fff;
    font-size: 2em;
    transition: opacity 0.8s;
    position: absolute;
    top: 15px;
    right: 15px;
  }

/* Mobile-friendly layout changes */
@media (max-width: 1024px) {
    p {
        line-height: 1.5em;
    }
    header {
        height: auto;
    }
    #content {
        padding: 0em 1.5em;
     }
    .floaters {
        display: none;
    }
    .styled-text {
        font-size: 4em;
    }
    .nav {
        justify-content: center;
        padding: 0;
        margin-bottom: 2em;
    }
    .nav li {
        margin: .5em 1em;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .contact {
        justify-content: center;
        padding: 0;
        margin-bottom: 0em;
    }
    .contact li {
    margin: .4em;
    }
    .web-gallery ul li {
        max-width: 100%;
        margin: 1em 0em;
    }
    .port {
        position: fixed;
    }
    .port .description {
        max-height: 100%;
        padding: 1em;
        margin-top: 1em;
    }
    .port img {
        width: -webkit-fill-available;
        margin: 1em;
    }
    .close
    {
        position: fixed;
    }
}
@media (max-width: 767px) {
.photo {
    width: -webkit-fill-available;
    margin: 2em;
}